/*
Theme Name: PQA
Theme URI: http://pqa.me/
Author: pqa.me
Author URI: http://pqa.me/

/*--------------------------------------------------------------
/* TABLE OF CONTENTS:
----------------------------------------------------------------

- Header
- Fonts
- Homepage
- Work
- Fullpage
- Misc

/*-------------------------------------------------------------
/*	Header
--------------------------------------------------------------*/

.top-bar {
	position: relative;
	z-index: 10;
	background-color: #83E29B;
}
#masthead .main-navigation {
	clear: none;
}
.site-title a {
	color:#444444;
	text-decoration: none;
	font-weight: 100;
}
.site-branding h1 {
	font-size: 1.5em;
}
#site-navigation {
	margin-top: 8px;
}
.main-navigation li > a {
	color: #444;
	margin-right: 3em;
}
.menu-menu-1-container {
	float: right;
}
.main-navigation ul li {
	float: left;
}

@media (max-width: 600px) {
	.entry-content .work-images {
		width: 90%;
		margin: 0 auto;
	}
	.entry-content .work-desc {
    float: left;
		width: 90%;
    padding: 0;
		margin: 0 auto;
    color: #756A3C;
	}
	.intro .intro-image {
    float: none;
    width: 175px;
    margin: 0 auto;
}
	.home .entry-title {
		font-size: 6em !important;
	}
	#content .intro-description p, #content .intro-description ul, #main .intro .description li {
		color: #a69062;
		letter-spacing: 0px;
		font-size: 24px;
		font-weight: 100;
		margin: 50px 0;
		line-height: 2.2;
	}
	.main-navigation ul li a {
		margin: 0;
	}
	.main-navigation ul li {
		float: none;
	}
	.menu-toggle, .menu-toggle:hover, .menu-toggle:focus {
		background-color: initial;
		box-shadow: initial;
		margin: 5px;
		padding: 0;
		float: right;
		border:0;
		outline: 0;
	}
	.menu-toggle img {
		width: 40px;
	}
}
/*-------------------------------------------------------------
/*	Fonts
--------------------------------------------------------------*/
body {
	font-family: 'Kanit', sans-serif;
	font-weight: 100;
  background-color: rgb(254, 255, 242);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Kanit",sans-serif;
    font-weight: 100 !important;
	color: #444444;
}
html {
	font-size: 1em;
}

.site-content p {
	font-weight: inherit !important;
}

a {
	color: #444;
	text-decoration: underline;
}

a:visited, a:hover, a:focus {
	color: #444;
}
.entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
	color: #796A3C;
	font-weight: 600;
}
article a {
	color: #756A3C;
}

/*-------------------------------------------------------------
/*	Homepage
--------------------------------------------------------------*/
.portfolio-header {
	text-align: center;
}
.container {
	//background-color: rgb(250, 255, 188);
	background-color: rgb(254, 255, 242);
}
#main article {
	border-top: 2px dashed rgb(228, 232, 181);
}
#main article:nth-of-type(1) {
	border: 0;
}
.home .entry-title {
	margin-bottom: 30px;
}
.home .post {
	padding: 80px 0;
}
.home .post:nth-child(1) {
	padding: 30px 0;
}
.home .entry-header {
	text-align: center;
}
.home .entry-title {
    font-family: "Kanit",sans-serif;
    font-weight: 100;
	font-size: 7em;
	font-weight: 700;
	text-align: center;
}
.home .entry-title {
	color: #444444;
	text-decoration: none;
}
.intro-image {
	float: left;
	margin-right: 60px;
	width: 175px;
}
p, ul li{
	line-height: 2;
}
.intro-description {
	margin-top: 15px;
	width: 100%;
	color: #756A3C;
}
#site-navigation ul li {
font-size: 14px;
}
.intro-description p, .intro-description ul {
	color: #a69062;
	letter-spacing: 0px;
	font-size: 17px;
	margin: 15px 0 60px 0;
	line-height: 2.1;
	max-width: 800px;
}
.intro {
	clear: both;
	width: 85%;
	margin: 0 auto;
}
.description {
 font-size: 14px;
	width: 100%;
}
.description p, .description ul {
	font-size: 17px;
	color: #a58f62;
}
.description a {
	color: #756A3C;
}
.description img {
	margin: 10px;
	border-radius:5px;
	border: 1px solid #BBC7EF;
}
.description ul {
	margin-left: 30px;
}
.description strong {
	color: #655839;
}
.intro-description a {
	text-decoration: none;
	border-bottom: 2px solid #B5A76F;
}
.content-column {
	padding: 20px;
}
.description h2 {
	margin-top: 80px;
}
.description h2:first-child {
	margin-top: 0;
}
/*-------------------------------------------------------------
/*	Work
--------------------------------------------------------------*/
.entry-big {
	font-size: 2em;
	font-weight: 700;
	text-align: center;
}
.work .entry-title {
	font-size: 3em;
	font-weight: 700;
	margin-bottom: 0;
}
.work-images {
	padding-top: 40px;
	float: left;
	width: 40%;
}
.work-images img {
	border-radius: 10px;
}
.work-images-gallery {
	margin-top: 30px;
}
.work-images-gallery img {
	margin-bottom: 10px;
}
.work-desc {
	float: left;
	width: 60%;
	padding: 0 50px 50px 100px;
	color: #756A3C;
}
.work-desc p {
	color: #a69062;
	font-size: 17px;
	margin: 50px 0;
	line-height: 1.8;
}
.work-tags {
	margin-top: 20px;
}
.job-title {
	color: #b9ad79;
  font-size: 1.1em;
  margin: 0px;
  font-style: italic;
}
.job-meta {
    position: relative;
    top: -10px;
}
.job-description-list {
  margin-top: 30px;
}
.work-images-gallery .columns {
	padding: 10px;
}
.job-description-list li {
	padding: 8px;
	margin: 8px;
	color: #7f7474;
	border: 1px solid #cfffff;
	font-size: 16px;
	background-color: #e8ffff;
	border-radius: 10px;
	line-height: 1.7;
}
.job-url {
	margin-left: 10px;
}
.work article {
	margin-top: 50px;
}
.work-tags a {
	padding: 10px;
	margin-right: 5px;
    background-color: #ffe668;
}
.intro-image i {
	font-size: 50px;
	color: #444;
}
.social-icons {
	text-align: center;
}
/*-------------------------------------------------------------
/*	Fullpage
--------------------------------------------------------------*/
.fullpage h1 {
    font-weight: 600;
    font-size: 4em;
    text-align: center;
}
.fullpage.entry-content {
	color: #756A3C;
}
.entry-title {
	text-decoration: none;
}
.entry-title {
	color: #444444;
}
.entry-header {
	text-align: center;
}
.entry-posted {
	font-size: 1.1em;
}
.fullpage .inner-content p {
    font-size: 1.3em;
    color: #756A3C;
}
.inner-content ul {
    font-size: 1.6em;
    color: #756A3C;
}
.inner-content {
	margin-top: 25px;
}
.inner-content p {
    font-size: 1.6em;
    color: #756A3C;
}
.blog-entry .entry-footer {
	text-align: center;
}
.blog-entry .entry-footer .read-more {
	font-size: 1.6em;
}
.blog-entry .entry-title a {
	text-decoration: none;
}
.wp-image-226 {
	border-radius: 25px;
}
.site-info {
	text-align: center;
	padding: 20px;
}
.inline {
    background-color: #f2fdbc;
    padding: 0.1em 0.3em;
    color: #9aafab;
}
pre {
  background: initial;
}

/*-------------------------------------------------------------
/*	Misc
--------------------------------------------------------------*/

.ctas #BUTTON_2 {
text-shadow: initial;
    background: rgb(90, 234, 110) none repeat scroll 0% 0% / auto padding-box border-box;
    box-shadow: initial;
    bottom: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 45px;
    left: 0px;
    min-height: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 204.734px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 75.8594px 25.5px;
    transform-origin: 75.8594px 25.5px;
    border: 0px solid rgb(34, 133, 162);
    font: normal normal 400 normal 16px / normal "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin: 0px 20px 20px 0;
    outline: rgb(255, 255, 255) none 0px;
    padding: 16px 32px 17px;
    transition: background-color 0.3s ease-out 0s;
    font-size: 13px;
}
.ctas #BUTTON_1 {
    text-shadow: initial;
    box-shadow: initial;
    bottom: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 45px;
    left: 0px;
    min-height: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 151.734px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 75.8594px 25.5px;
    transform-origin: 75.8594px 25.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px solid rgb(34, 133, 162);
    font: normal normal 400 normal 16px / normal "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin: 0px 0px 20px 0;
    outline: rgb(255, 255, 255) none 0px;
    padding: 16px 32px 17px;
    transition: background-color 0.3s ease-out 0s;
    font-size: 13px;
    background: rgb(35, 205, 255) none repeat scroll 0% 0% / auto padding-box border-box;
}/*#BUTTON_1*/

.work-images img {
  box-shadow: -1px 2px 39px;
}
.work-images > img:nth-child(3) ~ img {
    /* this rule targets the rows after the 3rd .row */
    display: none;
}
.site-info span {
	color: #aaa;
}
.work-images-gallery {
}
.wrapper-centered {
	min-height: 100vh;
  position: relative;
}
.wrapper-centered:first-of-type {
	top: -50px;
	z-index: 5;
}
.inner-centered {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 100%;
}
